@using System.Text.RegularExpressions
@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var pageSections = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("pageSections").ToList();
    var hasSections = Model.HasValue("pageSections") && pageSections.Any();
    const string pattern = @"[^0-9a-zA-Z]+";
    var rgx = new Regex(pattern);
}

@if (hasSections)
{
    <nav class="c-nav--contents">
        <h4>On this page</h4>
        <ul class="c-nav__list">
            @foreach (var pageSection in pageSections.ToContentSet())
            {
                var headline = pageSection.GetPropertyValue<string>("headline");
                var sectionId = "#" + rgx.Replace(headline, "").ToLower();

                <li class="c-nav__item c-nav__item--parent">
                    <a href="@sectionId" class="c-nav__link">@headline</a>
                </li>
            }
        </ul>
    </nav>

    foreach (var pageSection in pageSections.ToContentSet())
    {
        var headline = pageSection.GetPropertyValue<string>("headline");
        var sectionId = rgx.Replace(headline, "").ToLower();

        <section id="@sectionId" class="o-section clearfix">
            <div class="o-wrap o-wrap--large">
                <h2>@headline</h2>
                @Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml", pageSection)
            </div>
        </section>
    }
}
