@using Evodia.Data.Models;
@inherits UmbracoViewPage<VacancyModel>
@{
	var headline = Model.PublishedContent.HasValue("clientJobTitle") ? Model.PublishedContent.GetPropertyValue<string>("clientJobTitle") : Model.PublishedContent.Name;
	var jobType = Model.JobType;
	var location = Model.Location;
	var sector = Model.Sector;
    var itemUrl = Model.Url;
    var itemModalUrl = itemUrl + "#apply";
	var description = Model.PublishedContent.GetPropertyValue<string>("overview");
}

<article class="c-listing--article">
	<h2 class="c-listing__headline">@headline</h2>
	<ul class="c-meta-data">
		<li class="c-meta-data__item">
			<strong>Location: </strong>
			<span>@location</span>
		</li>
		<li class="c-meta-data__item">
			<strong>Type: </strong>
			<span>@jobType</span>
		</li>
		<li class="c-meta-data__item">
			<strong>Sector: </strong>
			<span>@sector</span>
		</li>
	</ul>
	<div class="c-listing__copy u-hide-small u-hide-medium">
		<p>@Umbraco.Truncate( description, 125 )</p>
	</div>
	<div class="c-listing__cta">
		<a href="@itemUrl" class="c-button c-button--secondary">Read more ></a>
		<a href="@itemModalUrl" class="c-button c-button--primary">Send CV ></a>
	</div>
	<a href="@itemUrl" class="c-listing__block-link"><span class="u-hide-text">Find out more</span></a>
</article>
