@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var menuItems = Model.AncestorOrSelf(2).Children().Where( x => x.IsVisible() && x.TemplateId > 0 );
}

<ul class="c-nav__list">
    @foreach (var item in menuItems){
        <li class="c-nav__item c-nav__item--parent">
            <a href="@item.Url" class="c-nav__link  @(item.IsAncestorOrSelf(Model) ? "is-active" : null)">
                @item.Name
            </a>
            @if( item.IsAncestorOrSelf(Model) ) {
                @Traverse(item)
            }
        </li>
    }
</ul>

@* Helper method to travers through all descendants *@
@helper Traverse(IPublishedContent node) {
    var maxLevelForNav = 5;
    var items = node.Children.Where(
                    x => x.IsVisible() &&
                    x.Level <= maxLevelForNav &&
                    x.TemplateId > 0
                ).ToList();


@*             .Where("Visible").Where(

            "Level <= " + maxLevelForNav +
            " && TemplateId > 0 " +
            " && DocumentTypeAlias != \"Article\" " +
            " && DocumentTypeAlias != \"Event\" "
            ); *@

    if ( items.Any() )
    {
        <ul class="c-nav__list--sub">
           @foreach (var item in items) {
                <li class="c-nav__item c-nav__item--child c-nav__item--child--@item.Level">
                    <a href="@item.Url" class="c-nav__link @(Model.Id == item.Id ? "is-active" : null)">@item.Name</a>
                    @Traverse(item)
                </li>
           }
        </ul>
    }
}