@using Evodia.Core.Utility

@helper RenderPaging(Paging paging, int currentId, string request = "")
{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    var queryString = string.Empty;

    if (!string.IsNullOrWhiteSpace(request))
    {
        var customRequestQuery = HttpUtility.ParseQueryString(request);

        foreach (var key in customRequestQuery)
        {
            if (key != null && (string) key != "page")
            {
                queryString = queryString + "&" + key + "=" + customRequestQuery[(string) key];
            }
        }
    }
    else
    {
        foreach (var key in Request.QueryString)
        {
            if (key != null && (string)key != "page")
            {
                queryString = queryString + "&" + key + "=" + Request.QueryString[(string)key];
            }
        }
    }
    
    if (paging.CurrentPage > 1)
    {
        var first = 0;
        var previous = paging.CurrentPage - 1;

        <a href="@umbracoHelper.TypedContent(currentId).Url" class="c-pagination__link c-pagination__link--first js-page" data-page="@first">First</a>
        <a href="@umbracoHelper.TypedContent(currentId).Url?page=@previous@queryString" class="c-pagination__link c-pagination__link--prev" rel="prev" data-page="@previous">
            <i class="ico-arrow-left-compact" role="presentation"></i> 
            <span class="">Previous</span>
        </a>
}

    for (var page = paging.StartPage; page <= paging.EndPage; page++)
    {
        var isActive = paging.CurrentPage == page;
        var activeClass = isActive ? "is-active" : "";

        if (isActive)
        {
            <div class="c-pagination__link c-pagination__link--index @activeClass" data-page="@page">
                @page
            </div>
        }
        else
        {
            <a href="@umbracoHelper.TypedContent(currentId).Url?page=@page@queryString" class="c-pagination__link c-pagination__link--index js-page" data-page="@page">
                @page
            </a>
        }

    }

    if (paging.CurrentPage < paging.TotalPages)
    {
    var next = paging.CurrentPage + 1;
    var last = paging.TotalPages;

        <a href="@umbracoHelper.TypedContent(currentId).Url?page=@next@queryString" class="c-pagination__link c-pagination__link--next js-page" rel="next" data-page="@next">
            <span class="">Next</span>
            <i class="ico-arrow-right-compact" role="presentation"></i>
        </a>
        <a href="@umbracoHelper.TypedContent(currentId).Url?page=@last@queryString" class="c-pagination__link c-pagination__link--last js-page" data-page="@last">Last</a>
    }
}