@using Evodia.Core.Utility

@helper RenderPaging(Paging paging, int currentId, string request = "")
{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    var queryString = string.Empty;

    if (!string.IsNullOrWhiteSpace(request))
    {
        var customRequestQuery = HttpUtility.ParseQueryString(request);

        foreach (var key in customRequestQuery)
        {
            if (key != null && (string) key != "page")
            {
                queryString = queryString + "&" + key + "=" + customRequestQuery[(string) key];
            }
        }
    }
    else
    {
        foreach (var key in Request.QueryString)
        {
            if (key != null && (string)key != "page")
            {
                queryString = queryString + "&" + key + "=" + Request.QueryString[(string)key];
            }
        }
    }

        var first = 0;
        var previous = paging.CurrentPage - 1;
		var isFirst = paging.CurrentPage > 1 ? false : true;
		var firstModifierClass = isFirst ? "is-disabled" : "";
		<div class="c-pagination__nav--first">
	        <a href="@umbracoHelper.TypedContent(currentId).Url" class="c-pagination__link c-pagination__link--first @firstModifierClass js-page" data-page="@first">
				<span>&lt;&lt;</span>
				<span class="u-hide-text">First</span>
			</a>
	        <a href="@umbracoHelper.TypedContent(currentId).Url?page=@previous@queryString" class="c-pagination__link c-pagination__link--prev @firstModifierClass js-page" rel="prev" data-page="@previous">
				<span>&lt;</span>
	            <span class="u-hide-text">Previous</span>
	        </a>
		</div>


    for (var page = paging.StartPage; page <= paging.EndPage; page++)
    {
        var isActive = paging.CurrentPage == page;
        var activeClass = isActive ? "is-active" : "";

        if (isActive)
        {
            <div class="c-pagination__link c-pagination__link--index @activeClass" data-page="@page">
                @page
            </div>
        }
        else
        {
            <a href="@umbracoHelper.TypedContent(currentId).Url?page=@page@queryString" class="c-pagination__link c-pagination__link--index js-page" data-page="@page">
                @page
            </a>
        }

    }


    var last = paging.TotalPages;
	var isLast = paging.CurrentPage < paging.TotalPages ? false : true;
	var lastModifierClass = isLast ? "is-disabled" : "";
	var next = !isLast ? paging.CurrentPage + 1 : paging.CurrentPage;

	<div class="c-pagination__nav--next @lastModifierClass">
        <a href="@umbracoHelper.TypedContent(currentId).Url?page=@next@queryString" class="c-pagination__link c-pagination__link--next @lastModifierClass js-page" rel="next" data-page="@next">
            <span class="u-hide-text">Next</span>
			<span>&gt;</span>
        </a>
        <a href="@umbracoHelper.TypedContent(currentId).Url?page=@last@queryString" class="c-pagination__link c-pagination__link--last @lastModifierClass js-page" data-page="@last">
			<span class="u-hide-text">Last</span>
			<span>&gt;&gt;</span>
		</a>
	</div>

}
