@using Umbraco.Web
@using UmbracoStarterKit.ExtensionMethods
@inherits UmbracoViewPage<IPublishedContent>
@{
    var mediaIds = Model.GetPropertyValue<string>("files");
    var hasFiles = !string.IsNullOrEmpty(mediaIds);
    var hasTitle = Model.HasValue("title");
}

@if (hasFiles)
{
    if (hasTitle)
    {
        <h2>@(Model.GetPropertyValue<string>("title"))</h2>
    }

    <ul class="c-link-list">
        @foreach (var media in mediaIds.Split(',').Select(mediaId => Umbraco.TypedMedia(mediaId)))
        {
            @RenderFile(media)

            foreach (var file in media.Descendants())
            {
                @RenderFile(file)
            }
        }
    </ul>
}

@helper RenderFile(IPublishedContent item)
{
    var url = item.Url;
    var fileName = item.Name;
    var fileSize = item.GetPropertyValue<int>("umbracoBytes");
    var altText = item.GetPropertyValue<string>("altText");

    <li class="c-link-list__item">
        <a href="@url" title="@altText" class="c-link-list__link u-clearfix">
            <i class="ico-file c-link-list__icon"></i>
            <span class="c-link-list__name">@fileName</span>
            <span class="c-link-list__meta">@fileSize.ToFileSize()</span>
        </a>
    </li>
}