@using Evodia.Core.Models
@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var wrapSize = ViewData["wrapSize"];
	var pageName = ViewData["pageName"];
    var formName = Model.GetPropertyValue<string>("form");
    var legend = Model.GetPropertyValue<string>("legend");
}


@if (!string.IsNullOrWhiteSpace(formName))
{
    <div class="o-wrap o-wrap--@wrapSize o-page-component">
        @switch (formName)
        {
            case "Contact form":
                @Html.Action("RenderContactForm", "ContactForm", new { legend = legend })
                break;
            case "Generic CV":
                @Html.Action("RenderGenericCvForm", "GenericCvForm", new { legend = legend })
                break;
            case "Vacancy form":
                @Html.Action("RenderVacancyForm", "VacancyForm", new { legend = legend })
                break;
            @*case "Job CV upload":
                @Html.Action("RenderJobCvForm", "JobCv")
                break;*@
            case "Feedback survey":
                @Html.Action("RenderFeedbackSurvey", "FeedbackSurvey", new { legend = legend })
                break;
			case "Recruitment expo form":
				@**@
				@Html.Action("RenderExpoForm", "ExpoForm", new { legend = legend, pageName = pageName })
				@**@
				@*
				@Html.Partial("~/Views/Partials/Forms/ExpoFormView.cshtml", new ExpoForm {
					PageName = pageName.ToString()
				})
				*@
				break;
        }
    </div>
}
