@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var components = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("pageContent");
	string wrapSize = ViewData["wrapSize"] != null && ViewData["wrapSize"].ToString() != "" ? ViewData["wrapSize"].ToString() : "small";

    if (components == null)
    {
        return;
    }

    foreach (var item in components.ToContentSet())
    {
        switch (item.DocumentTypeAlias)
        {
            case "embed":
                @Html.Partial("~/Views/Partials/PageComponents/Embed.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "multipleImages":
			case "gallery":
                @Html.Partial("~/Views/Partials/PageComponents/Gallery.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "singleImage":
                @Html.Partial("~/Views/Partials/PageComponents/Image.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "quotes":
                @Html.Partial("~/Views/Partials/PageComponents/Quotes.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "text":
            case "sectionText":
                @Html.Partial("~/Views/Partials/PageComponents/Textarea.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "video":
                @Html.Partial("~/Views/Partials/PageComponents/Video.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "tabs":
                @Html.Partial("~/Views/Partials/PageComponents/Tabs.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
			case "accordion":
                @Html.Partial("~/Views/Partials/PageComponents/Accordion.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "downloads":
                @Html.Partial("~/Views/Partials/PageComponents/Downloads.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            case "form":
                @Html.Partial("~/Views/Partials/PageComponents/Form.cshtml", item, new ViewDataDictionary {{"wrapSize",   wrapSize}})
                break;
            default:
                <p>Elements with DocumentTypeAlias <strong>@item.DocumentTypeAlias</strong> has no @@helper</p>
                break;
        }
    }
}
