@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
	var wrapSize = ViewData["wrapSize"];

    var quotes = Model.GetPropertyValue<List<IPublishedContent>>("quotes");
    var alignment = Model.GetPropertyValue<string>("alignment") != null ? Model.GetPropertyValue<string>("alignment").ToLower() : "default";
    var hasQuotes = quotes.Any(x => x.HasValue("quoteMessage"));
    var isSlider = hasQuotes && quotes.Count() > 1;
    var sliderClass = isSlider ? "js-single-carousel" : "";
}

@if (isSlider)
{
    <div class="c-quotes o-wrap o-wrap--@wrapSize o-page-component o-align--@alignment">
        <div class="u-clearfix @sliderClass">
            @foreach (var item in quotes)
            {
                @RenderQuote(item)
            }
        </div>
    </div>
}
else
{
    var modifierClasses = "o-align--" + alignment;

    @RenderQuote(quotes.FirstOrDefault(), modifierClasses)
}


@helper RenderQuote(IPublishedContent item, string modifierClasses = "")
{
    var quote = item.GetPropertyValue("quoteMessage");
    var source = item.GetPropertyValue("source");
    var renderQuote = quote != null && quote.ToString() != "";

    if (!renderQuote)
    {
        return;
    }

	<div class="o-wrap o-wrap--small o-page-component">
	    <blockquote class="c-quote @modifierClasses">
	        <div class="c-quote__copy">
	            @quote
	        </div>

	        @if( item.HasValue("source") || item.HasValue("sourceName") ) {
	            <footer class="c-quote__src">
					@if( item.HasValue("sourceName") ) {
						<div class="u-stronger">@item.GetPropertyValue("sourceName")</div>
					}
					@if( item.HasValue("source") ) {
						@source
					}
				</footer>
	        }
	    </blockquote>
	</div>
}
