@using Umbraco.Web
@using Evodia.Voyager.Domain.Models
@inherits UmbracoViewPage<FullSearchForm>
@{

}

@using (Html.BeginUmbracoForm("ProcessFullFormSubmission", "SearchForm", FormMethod.Post, new { id = "search-form", @class = "c-form js-form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="o-form__fieldset">
        <legend class="o-legend">Search job</legend>

        <div class="o-form__field">
            @Html.LabelFor(x => x.Keywords, new {@class = "o-label"})
            @Html.TextBoxFor(x => x.Keywords, new {@class = "o-input js-keywords", placeholder = "Enter keywords to search"})
            @Html.ValidationMessageFor(x => x.Keywords)
        </div>

        <div class="o-form__field">
            @Html.LabelFor(x => x.TitleOnly, new {@class = "o-label"})
            @Html.CheckBoxFor(x => x.TitleOnly, new {@class = "o-checkbox__input js-keywords-only"})
            @Html.ValidationMessageFor(x => x.TitleOnly)
        </div>

        <div class="o-form__field o-form__field--submit">
            <button type="submit" class="c-button c-button--primary js-search">Search</button>
        </div>
    </fieldset>

    <fieldset class="o-form__fieldset">
        <legend class="o-legend">Refine search</legend>

        <div class="o-form__field">
            @Html.LabelFor(x => x.JobTypes, new { @class = "o-label" })
            <ul class="o-fieldset__list u-clearfix">
                @for (var i = 0; i < Model.JobTypes.Count; i++)
                {
                    <li class="o-fieldset__item">
                        <label class="o-label" for="@Model.JobTypes[i].Name">
                            @Html.CheckBoxFor(x => x.JobTypes[i].IsSelected, new {@id = Model.JobTypes[i].Name, @class = "o-radio__checkbox js-jobtype"})
                            <span class="">@Model.JobTypes[i].Name</span>
                        </label>
                    </li>
                }
            </ul>
        </div>

        <div class="o-form__field">
            @Html.LabelFor(x => x.Locations, new {@class = "o-label"})
            @Html.DropDownListFor(x => x.Locations, Model.Locations, "County", new {@class = "js-select js-filter-select js-location" })
            @Html.ValidationMessageFor(x => x.Locations)
        </div>

        <div class="o-form__field">
            @Html.LabelFor(x => x.Sectors, new {@class = "o-label"})
            <ul class="o-fieldset__list u-clearfix">
                @for (var i = 0; i < Model.Sectors.Count; i++)
                {
                    <li class="o-fieldset__item">
                        <label class="o-label" for="@Model.Sectors[i].Name">
                            @Html.CheckBoxFor(x => x.Sectors[i].IsSelected, new {@id = Model.Sectors[i].Name, @class = "o-radio__checkbox js-sector" })
                            <span class="">@Model.Sectors[i].Name</span>
                        </label>
                    </li>
                }
            </ul>
        </div>

        <div class="o-form__field">
            @Html.LabelFor(x => x.MinimumSalary, new {@class = "o-label"})
            @Html.DropDownListFor(x => x.MinimumSalary, Model.MinimumSalary, "Minimum salary", new {@class = "js-select js-filter-select js-salary" })
            @Html.ValidationMessageFor(x => x.MinimumSalary)
        </div>
    </fieldset>
}

