@using Umbraco.Web
@using Evodia.Voyager.Domain.Models
@inherits UmbracoViewPage<FullSearchForm>
@{

}

@using (Html.BeginUmbracoForm("ProcessFullFormSubmission", "SearchForm", FormMethod.Post, new { id = "search-form", @class = "c-form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="o-form__fieldset c-pod c-pod--light s-search">
        <legend class="u-hide-text">Search job</legend>

        <div class="o-form__field s-search__keyword">
			@Html.LabelFor(x => x.Keywords, new { @class = "c-pod__headline" })
			<div class="o-input-wrap o-input-wrap--search">
				<i class="ico-search" role="decoration"></i>
				@Html.TextBoxFor(x => x.Keywords, new { @class = "o-input js-keywords", placeholder = "Enter keywords to search" })
			</div>
            @*@Html.ValidationMessageFor(x => x.Keywords)*@
        </div>

        <div class="o-checkbox o-checkbox--small s-search__title-only">
            @Html.CheckBoxFor(x => x.TitleOnly, new { id = "TitleOnly", @class = "o-checkbox__input js-keywords-only" })
            @Html.LabelFor(x => x.TitleOnly, new { @class = "o-checkbox__label" })
            @*@Html.ValidationMessageFor(x => x.TitleOnly)*@
        </div>

        <div class="o-form__field o-form__field--submit">
		@*
            <button type="submit" class="c-button c-button--primary js-search">Search</button>
			*@
			<a href="#refineSearch" class="s-search__refine js-modal-search">Refine search ></a>
        </div>
    </fieldset>

    <fieldset id="refineSearch" class="o-fieldset c-pod c-pod--light s-jobs__filters mfp-with-anim mfp-hide">
        <legend class="o-fieldset__legend c-pod__legend">Refine search</legend>

        <div class="o-form__field">
            @Html.LabelFor(x => x.JobTypes, new { @class = "o-label c-pod__headline" })
            <ul class="o-fieldset__list u-clearfix">
                @for (var i = 0; i < Model.JobTypes.Count; i++)
                {
                    <li class="o-fieldset__item">
                        @Html.HiddenFor(x => x.JobTypes[i].Name)
                        <div class="o-checkbox">
                            @Html.CheckBoxFor(x => x.JobTypes[i].IsSelected, new { @id = Model.JobTypes[i].Name, @class = "o-checkbox__input js-jobtype" })
                            <label class="o-checkbox__label" for="@Model.JobTypes[i].Name">
                                @Model.JobTypes[i].Name
                            </label>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="o-form__field">
            @Html.LabelFor(x => x.Locations, new { @class = "o-label c-pod__headline" })
            <div class="o-select">
                @Html.DropDownListFor(x => x.SelectedLocation, Model.Locations, "County", new { @class = "js-select js-filter-select js-location" })
            </div>
            @*@Html.ValidationMessageFor(x => x.Locations)*@
        </div>

        <div class="o-form__field">
            @Html.LabelFor(x => x.Sectors, new { @class = "o-label c-pod__headline" })
            <ul class="o-fieldset__list u-clearfix">
                @for (var i = 0; i < Model.Sectors.Count; i++)
                {
                    <li class="o-fieldset__item o-checkbox">
                        @Html.HiddenFor(x => x.Sectors[i].Name)
                        @Html.CheckBoxFor(x => x.Sectors[i].IsSelected, new { @id = Model.Sectors[i].Name, @class = "o-checkbox__input js-sector" })
                        <label class="o-checkbox__label" for="@Model.Sectors[i].Name">
                            @Model.Sectors[i].Name
                        </label>
                    </li>
                }
            </ul>
        </div>

        <div class="o-form__field">
            @Html.LabelFor(x => x.MinimumSalary, new { @class = "o-label c-pod__headline" })
            <div class="o-select">
                @Html.DropDownListFor(x => x.SelectedSalary, Model.MinimumSalary, "Minimum salary", new { @class = "js-select js-filter-select js-salary" })
            </div>
            @*@Html.ValidationMessageFor(x => x.MinimumSalary)*@
        </div>

		<div class="o-form__field o-form__field--submit">
			<button type="submit" class="c-button c-button--primary js-search">Search</button>
		</div>
    </fieldset>
}
