@using Umbraco.Web
@using Evodia.Core.Models
@inherits UmbracoViewPage<SearchForm>
@{

}

@using (Html.BeginUmbracoForm("ProcessFormSubmission", "SearchForm", FormMethod.Post, new { id = "search-form", @class = "c-form js-form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="o-form__fieldset">
        <legend class="o-legend">Search form</legend>
        <div class="o-form__field">
            @Html.LabelFor(x => x.Keywords, new { @class = "o-label" })
            @Html.TextBoxFor(x => x.Keywords, new { @class = "o-input", placeholder = "Enter keywords to search" })
            @Html.ValidationMessageFor(x => x.Keywords)
        </div>
        <div class="o-form__field">
            @Html.CheckBoxFor(x => x.TitleOnly, new { @class = "o-label" })
            @Html.CheckBoxFor(x => x.TitleOnly, new { @class = "o-checkbox__input" })
            @Html.ValidationMessageFor(x => x.TitleOnly)
        </div>
        <div class="o-form__field o-form__field--submit">
            <button type="submit" class="c-button c-button--primary">Search</button>
        </div>
    </fieldset>
}

