@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
    var headline = Model.HasValue("headline") ? Model.GetPropertyValue<string>("headline") : Model.Name;
}

<div class="o-section o-wrap o-wrap--large">
    <h1>@headline</h1>
    @Html.Partial("~/Views/Partials/Page/ContactDetails.cshtml")
    @Html.Partial("~/Views/Partials/PageComponents/PageComponents.cshtml")

    @Html.Action("RenderContactForm", "ContactForm")

    @Html.Action("RenderAjaxContactForm", "ContactForm")
</div>

