@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

    var headline = Model.HasValue("clientJobTitle") ? Model.GetPropertyValue<string>("clientJobTitle") : Model.Name;
    var jobRef = Model.GetPropertyValue<string>("jobReference");
    var salary = Model.GetPropertyValue<string>("from");
    var salaryPer = Model.GetPropertyValue<string>("period").ToLower();
    var location = Model.GetPropertyValue<string>("town");
    var jobType = Model.GetPropertyValue<string>("jobType");
    var duration = Model.GetPropertyValue<string>("duration");
    var sector = Model.GetPropertyValue<string>("class1");
    var startDate = Model.GetPropertyValue<string>("startDate");
    var endDate = Model.GetPropertyValue<string>("endDate");
    var displayTo = Model.GetPropertyValue<string>("displayTo");
    var securityClearance = Model.GetPropertyValue<string>("class3");

    var emailPageLink = "mailto:?subject=" + Model.Name + " :Job vacancy" + "&body=" + Request.Url;

    var formSettings = Umbraco.TypedContent(1353);
    var submissionMessage = formSettings.HasValue("submissionMessage") ? formSettings.GetPropertyValue("submissionMessage") : "Thank you";
    var success = TempData["JobCvFormValidationPasses"] != null;
}

<div class="o-page__inner o-wrap o-wrap--x-large u-clearfix s-layout-sidebar o-section">
	<main class="o-page__content o-page__content--sidebar-layout">
		<p class="u-space-bottom"><a href="@Model.Ancestor().Url">< Back to results</a></p>
	    <header class="s-job__header u-clearfix u-space-bottom--large">
	        <div class="o-col o-col--first">
	            <h1>@headline</h1>
	            <ul class="o-list--simple">
	                @if (!string.IsNullOrEmpty(jobRef))
	                {
	                    <li class="o-list__item">
	                        <strong>Job reference: </strong>
	                        @jobRef
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(jobType))
	                {
	                    <li class="o-list__item">
	                        <strong>Type: </strong>
	                        <span>@jobType</span>
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(salary))
	                {
	                    <li class="o-list__item">
	                        <strong>Salary: </strong>
	                        £@salary per @salaryPer
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(location))
	                {
	                    <li class="o-list__item">
	                        <strong>Location: </strong>
	                        <span>@location</span>
	                    </li>
	                }

	                @if (!string.IsNullOrEmpty(duration))
	                {
	                    <li class="o-list__item">
	                        <strong>Duration: </strong>
	                        <span>@duration</span>
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(sector))
	                {
	                    <li class="o-list__item">
	                        <strong>Sector: </strong>
	                        <span>@sector</span>
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(startDate))
	                {
	                    <li class="o-list__item">
	                        <strong>Start date: </strong>
	                        <span>@startDate</span>
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(endDate))
	                {
	                    <li class="o-list__item">
	                        <strong>End date: </strong>
	                        <span>@endDate</span>
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(displayTo))
	                {
	                    <li class="o-list__item">
	                        <strong>Application deadline: </strong>
	                        <span>@displayTo</span>
	                    </li>
	                }
	                @if (!string.IsNullOrEmpty(securityClearance))
	                {
	                    <li class="o-list__item">
	                        <strong>Security Clearance: </strong>
	                        <span>@securityClearance</span>
	                    </li>
	                }
	            </ul>
	        </div>
	        <div class="o-col o-col--last">
	            <div class="o-button-list u-space-bottom">
	                @RenderCVButton()
	                <a href="@emailPageLink" class="c-button c-button--secondary c-button--icon">
	                    <span class="u-valign--middle">Email job </span>
                        <i class="ico-mail"></i>
	                </a>
	                <button href="" class="c-button c-button--secondary c-button--icon u-hide-small u-hide-medium u-hide-large" onclick="window.print();">
	                    <span class="u-valign--middle">Print job </span>
	                    <i class="ico-print"></i>
	                </button>
	            </div>

	            @Html.Partial("~/Views/Partials/components/SocialShare.cshtml")
	        </div>
	    </header>

        @if (success)
        {
            <div class="c-alert c-alert--success c-alert--fixed o-wrap--small">
                @submissionMessage
            </div>
        }

	    <section class="s-job__content">
			@if( Model.HasValue("overview") ) {
				<hr class="u-space-bottom--large">
				<h2>Overview</h2>
				<p class="u-space-bottom--large">@Model.GetPropertyValue("overview")</p>
			}

			@if( Model.HasValue("jobDescription") ) {
				<hr class="u-space-bottom--large">
				@Model.GetPropertyValue("jobDescription")

				@RenderCVButton( "u-space-top--large" )
			}

			@Html.Partial("~/Views/Partials/Components/CVUpload.cshtml", Model, new ViewDataDictionary {
			{"isModal", true}
		})
		</section>
	</main>
	<aside class="o-page__sidebar">
		@Html.Partial("~/Views/Partials/Jobs/SimilarJobs.cshtml")
		@Html.Partial("~/Views/Partials/Components/Pods.cshtml", Model.Ancestor() )
	</aside>
</div>

@helper RenderCVButton( string modifierClass = "" ) {
	<a href="#apply" class="c-button c-button--primary @modifierClass js-modal js-no-scroll">Send CV ></a>
}
