@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
    var headline = Model.HasValue("clientJobTitle") ? Model.GetPropertyValue<string>("clientJobTitle") : Model.Name;

	var salary = "";
	var location = Model.GetPropertyValue<string>("county");
	var jobType = Model.GetPropertyValue<string>("jobType");
	var duration = Model.GetPropertyValue<string>("duration");
	var sector = Model.GetPropertyValue<string>("sector");

	var emailPageLink = "mailto:?subject=" + Model.Name + " :Job vacancy" + "&body=" + Request.Url.ToString();
}

<div class="o-page__inner o-wrap o-wrap--x-large u-clearfix s-layout-sidebar o-section">
	<main class="o-page__content o-page__content--sidebar-layout">
		<p class="u-space-bottom"><a href="@Model.Ancestor().Url">< Back to results</a></p>
		<header class="s-job__header u-clearfix u-space-bottom--large">
			<div class="o-col o-col--first">
				<h1>@headline</h1>
				<ul class="o-list--simple">
					@if( !string.IsNullOrEmpty( salary ) ) {
						<li class="o-list__item">
							<strong>Salary: </strong>
							@salary
						</li>
					}
					@if( !string.IsNullOrEmpty( location ) ) {
						<li class="o-list__item">
							<strong>Location: </strong>
							<span>@location</span>
						</li>
					}
					@if( !string.IsNullOrEmpty( jobType ) ) {
						<li class="o-list__item">
							<strong>Type: </strong>
							<span>@jobType</span>
						</li>
					}
					@if( !string.IsNullOrEmpty( duration ) ) {
						<li class="o-list__item">
							<strong>Duration: </strong>
							<span>@duration</span>
						</li>
					}
					@if( !string.IsNullOrEmpty( sector ) ) {
						<li class="o-list__item">
							<strong>Sector: </strong>
							<span>@sector</span>
						</li>
					}
				</ul>
			</div>
			<div class="o-col o-col--last">
				<div class="o-button-list u-space-bottom">
					<a href="" class="c-button c-button--primary">Send CV ></a>
					<a href="@emailPageLink" class="c-button c-button--secondary c-button--icon">Email job <i class="ico-mail"></i></a>
					<button href="" class="c-button c-button--secondary c-button--icon u-hide-small u-hide-medium u-hide-large" onclick="window.print();">Print job <i class="ico-print"></i></button>
				</div>

				@Html.Partial("~/Views/Partials/components/SocialShare.cshtml")
			</div>
		</header>
		<section class="s-job__content">
			@if( Model.HasValue("overview") ) {
				<hr class="u-space-bottom--large">
				<h2>Overview</h2>
				<p class="u-space-bottom--large">@Model.GetPropertyValue("overview")</p>
			}

			@if( Model.HasValue("jobDescription") ) {
				<hr class="u-space-bottom--large">
				@Model.GetPropertyValue("jobDescription")
				<a href="" class="c-button c-button--primary u-space-top--large">Send CV ></a>
			}
		</section>
	</main>
	<aside class="o-page__sidebar">
		@Html.Partial("~/Views/Partials/Jobs/SimilarJobs.cshtml")

		<div class="c-pod c-pod--highlight u-center-content">
			<h2 class="u-zeta">Help us to find you the best job applying today</h2>
			<a href="#" class="c-button c-button--secondary-invert u-space-top">Upload CV ></a>
		</div>
		<div class="c-pod c-pod--outline u-center-content">
			<h2 class="u-zeta">Need to submit a vacancy?</h2>
			<a href="#" class="c-button c-button--tertiary u-space-top">Upload CV ></a>
		</div>

	</aside>
</div>
